[submodule "Oetools.Builder"]
	path = Oetools.Builder
	url = ../Oetools.Builder.git
[submodule "CommandLineUtilsPlus"]
	path = CommandLineUtilsPlus
	url = ../CommandLineUtilsPlus.git
[submodule "SoftwareUpdater"]
	path = SoftwareUpdater
	url = ../SoftwareUpdater
