<?xml version="1.0" encoding="utf-8"?>
<Project xmlns="http://schemas.microsoft.com/developer/msbuild/2003">
  <!-- https://docs.microsoft.com/en-us/visualstudio/msbuild/msbuild-project-file-schema-reference?view=vs-2017 -->
 
  <!-- Setting default properties -->
  <PropertyGroup Label="Default properties">
    <EmbedResourcesDirectory Condition=" '$(EmbedResourcesDirectory)'=='' ">$(ProjectDir)Resources\Dependencies\</EmbedResourcesDirectory>
  </PropertyGroup>

  <!-- embed dll dependencies (it only works for .netframework as .netcore also might need libraries present in the runtime folder and depending on the runtime environment...) -->
  <Target 
    Name="EmbedDependencies" 
    AfterTargets="ResolveAssemblyReferences" 
    Condition="'$(TargetFrameworkIdentifier)'=='.NETFramework'">

    <!-- list all the files referenced in this project (which are not part of the framework and need to be published with the final build) -->
    <ItemGroup>
      <ReferencedAssemblies Include="@(ReferenceCopyLocalPaths)" Condition=" '%(Extension)'!='.xml' " />
      <ReferencedAssemblies Include="@(RuntimeCopyLocalItems)" Condition=" '%(Extension)'!='.xml' " />
    </ItemGroup>

    <!-- remove duplicates, ReferencedAssemblies will contain the final list of files to copy -->
    <RemoveDuplicates Inputs="@(ReferencedAssemblies)">  
      <Output TaskParameter="Filtered" ItemName="ReferencedAssemblies"/>  
    </RemoveDuplicates>

    <!-- copy files to the resource directory -->
    <Copy
      SourceFiles="@(ReferencedAssemblies)"
      DestinationFolder="$(EmbedResourcesDirectory)"
      OverwriteReadOnlyFiles="true"
      SkipUnchangedFiles="false">
    </Copy>

    <!-- remove duplicates, ResourcesToEmbedFiltered will contain the final list of files to embed -->
    <RemoveDuplicates Inputs="@(ReferencedAssemblies->'$(EmbedResourcesDirectory)%(Filename)%(Extension)')">  
      <Output TaskParameter="Filtered" ItemName="ResourcesToEmbedFiltered"/>  
    </RemoveDuplicates>

    <!-- actually embed the resources, ResourcesToEmbed will contain the final list of files to embed -->
    <ItemGroup>      
    <ResourcesToEmbed Include="@(ResourcesToEmbedFiltered->'$(EmbedResourcesDirectory)%(Filename)%(Extension)')" KeepMetadata="LogicalName" />
    <EmbeddedResource Include="@(ResourcesToEmbed)">
      <LogicalName>$(AssemblyName).%(Filename)%(Extension)</LogicalName>
    </EmbeddedResource>
    </ItemGroup>
    
    <Message Importance="high" Text="=========================="/>
    <Message Importance="high" Text="[INFO] Embedding resources : %0A  @(ResourcesToEmbed, '%0A  ')"/>
    <Message Importance="high" Text="   -> copied in $([System.IO.Path]::GetFullPath('$(EmbedResourcesDirectory)'))"/>
    
  </Target>

</Project>