<?xml version="1.0" encoding="utf-8"?>
<Project xmlns="http://schemas.microsoft.com/developer/msbuild/2003">
 
  <!-- embedded dll dependencies -->
  <!-- http://source.roslyn.io/#MSBuildFiles/C/ProgramFiles(x86)/MicrosoftVisualStudio/2017/Enterprise/MSBuild/15.0/Bin_/Microsoft.Common.CurrentVersion.targets,2043 -->
  <Target Name="AddEmbeddedDependencies" AfterTargets="ResolveAssemblyReferences">
    
    <Copy
      SourceFiles="@(ReferenceCopyLocalPaths)"
      DestinationFolder="$(ProjectDir)Resources\Dependencies"
      OverwriteReadOnlyFiles="true"
      SkipUnchangedFiles="false">
    </Copy>
    <ItemGroup>
      <EmbeddedResource Include="Resources\Dependencies\*.dll" />
      <EmbeddedResource Include="Resources\Dependencies\*.pdb" />
      <!-- <DependenciesDll Include="_Resource\*.dll" />
      <DependenciesDll Include="_Resource\*.pdb" /> -->
      <!-- <EmbeddedResource Include="@(DependenciesDll)">
        <LogicalName>$(RootNamespace).%(DependenciesDll.Filename)%(DependenciesDll.Extension)</LogicalName>
      </EmbeddedResource> -->
      <!--<EmbeddedResource 
      Include="@(DependenciesDll ->'%(Relativedir)%(filename)%(extension)')" 
      Condition="('%(DependenciesDll.Extension)' == '.dll' Or '%(DependenciesDll.Extension)' == '.pdb')">-->
    </ItemGroup>
    <Message Importance="high" Text="[INFO] Embedding resources : %0A  @(ReferenceCopyLocalPaths, '%0A  ')"/>
  </Target>

</Project>