<?xml version="1.0" encoding="utf-8"?>
<Project xmlns="http://schemas.microsoft.com/developer/msbuild/2003">
 
  <!-- Setting default properties -->
  <PropertyGroup Condition=" '$(ReleaseZipDirectory)'=='' ">
    <ReleaseZipDirectory>$(ProjectDir)..\bin</ReleaseZipDirectory>
    <ReleaseZipFilesToZip>*</ReleaseZipFilesToZip>
    <ReleaseZipNameSuffix Condition=" '$(TargetFramework)'=='netcoreapp2.0' ">-dotnetcore2.0</ReleaseZipNameSuffix>
    <ReleaseZipName>$(AssemblyName)$(ReleaseZipNameSuffix).zip</ReleaseZipName>
  </PropertyGroup>


  <!-- Zip the files copied in the target -->
  <Target Name="ZipRelease" AfterTargets="CopyOutputTarget" Condition=" '$(CopyOutputDone)'=='true' ">
    
    <!-- list all the files to zip (use the output of the Target.CopyOutput.target if possible) -->
    <ItemGroup>
      <ZipFiles Condition=" '@(OutputFiles)'=='' " Include="$(ReleaseBinPath)\$(ReleaseZipFilesToZip)" Exclude="$(ReleaseBinPath)\*.zip" />
      <ZipFiles Condition=" '@(OutputFiles)'!='' " Include="@(OutputFiles)" />
    </ItemGroup>

    <!-- create output directory -->
    <MakeDir Directories="$(ReleaseZipDirectory)"/>

    <!-- zip 'em! -->
    <Zip
      InputFileNames="@(ZipFiles)"
      OutputFileName="$(ReleaseZipDirectory)\$(ReleaseZipName)"
      OverwriteExistingFile="true" />

    <Message Importance="high" Text="=========================="/>
    <Message Importance="high" Text="[INFO] Zipping %0A   @(ZipFiles->'%(Fullpath)', '%0A   ')"/>
    <Message Importance="high" Text="   -> into $([System.IO.Path]::GetFullPath('$(ReleaseZipDirectory)\$(ReleaseZipName)'))"/>

  </Target>


  <!-- The ZIP task -->
  <UsingTask TaskName="Zip" TaskFactory="CodeTaskFactory" AssemblyFile="$(MSBuildToolsPath)\Microsoft.Build.Tasks.v4.0.dll">
    <ParameterGroup>
      <InputFileNames ParameterType="Microsoft.Build.Framework.ITaskItem[]" Required="true" />
      <OutputFileName ParameterType="System.String" Required="true" />
      <OverwriteExistingFile ParameterType="System.Boolean" Required="false" />
    </ParameterGroup>
    <Task>
      <Reference Include="System.IO.Compression" />
      <Using Namespace="System.IO.Compression" />
      <Code Type="Fragment" Language="cs">
        <![CDATA[        
        const int BufferSize = 64 * 1024;
 
        var buffer = new byte[BufferSize];
        var fileMode = OverwriteExistingFile ? FileMode.Create : FileMode.CreateNew;
 
        using (var outputFileStream = new FileStream(OutputFileName, fileMode))
        {
          using (var archive = new ZipArchive(outputFileStream, ZipArchiveMode.Create))
          {
            foreach (var inputFileName in InputFileNames.Select(f => f.ItemSpec))
            {
              var archiveEntry = archive.CreateEntry(Path.GetFileName(inputFileName));
 
              using (var fs = new FileStream(inputFileName, FileMode.Open))
              {
                using (var zipStream = archiveEntry.Open())
                {
                  int bytesRead = -1;
                  while ((bytesRead = fs.Read(buffer, 0, BufferSize)) > 0)
                  {
                    zipStream.Write(buffer, 0, bytesRead);
                  }
                }
              }
            }
          }
        }        
      ]]>
      </Code>
    </Task>
  </UsingTask>

</Project>